.section {
  display: flex;

  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.edit-education {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.button {
  width: 10rem;
  height: 3rem;
  align-self: center;
}
.edit-personal {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.buttons {
  display: flex;
  align-self: center;
  gap: 2rem;
}

.job {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.form {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.edit-education-div,
.preview,
.edit-experience-div,
.preview-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
}
